absl-py==0.12.0
aiohttp==3.8.1
aiosignal==1.2.0
albumentations==1.1.0
antlr4-python3-runtime==4.8
anyio==3.6.1
appdirs==1.4.4
argh==0.26.2
argon2-cffi==20.1.0
arrow==1.2.0
aspectlib==1.5.2
asttokens==2.0.5
astunparse==1.6.3
async-timeout==4.0.2
atomicwrites==1.4.0
attrs==21.4.0
autopep8==1.5.5
Babel==2.10.3
backcall==0.2.0
beautifulsoup4==4.11.1
binaryornot==0.4.4
black==19.10b0
bleach==4.1.0
brotlipy==0.7.0
cachetools==4.2.2
captum==0.4.1
certifi==2021.5.30
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.10
clang==5.0
click==8.0.3
cookiecutter==1.7.3
cycler==0.10.0
Cython==0.29.23
debugpy==1.5.1
decorator==4.4.2
defusedxml==0.7.1
docker-pycreds==0.4.0
effdet==0.2.4
efficientnet-pytorch==0.6.3
ensemble-boxes==1.0.6
entrypoints==0.3
executing==0.8.2
fastcore==1.3.27
fastjsonschema==2.16.1
ffmpeg-python==0.2.0
fields==5.0.0
flake8==3.9.2
flatbuffers==1.12
fonttools==4.28.5
forger==0.0.0
frozenlist==1.3.0
fsspec==2022.1.0
future==0.18.2
gast==0.4.0
gitdb==4.0.9
GitPython==3.1.26
google-auth==1.30.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
grpcio==1.37.1
h5py==3.1.0
helpdev==0.7.1
idna==3.3
imagecodecs==2021.11.20
imageio==2.9.0
imbalanced-learn==0.8.0
imblearn==0.0
imgaug==0.4.0
importlib-metadata==4.12.0
importlib-resources==5.4.0
inflection==0.5.1
install==1.3.5
ipykernel==6.7.0
ipython==8.0.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
jedi==0.17.2
Jinja2==3.0.3
jinja2-time==0.2.0
joblib==1.0.1
json5==0.9.9
jsonschema==4.4.0
jupyter==1.0.0
jupyter-client==7.3.4
jupyter-console==6.4.4
jupyter-core==4.10.0
jupyter-server==1.18.1
jupyterlab==3.4.5
jupyterlab-pygments==0.1.2
jupyterlab-server==2.15.0
jupyterlab-spreadsheet-editor==0.6.1
jupyterlab-widgets==1.0.2
keras==2.8.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
lab==7.1
libclang==13.0.0
llvmlite==0.36.0
lxml==4.9.1
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mccabe==0.6.1
mistune==0.8.4
monai==0.7.0
multidict==6.0.2
munch==2.5.0
mypy-extensions==0.4.3
nbclassic==0.4.3
nbclient==0.5.10
nbconvert==6.5.3
nbformat==5.4.0
nest-asyncio==1.5.4
networkx==2.5.1
notebook==6.3.0
notebook-shim==0.1.0
numba==0.53.1
numpy==1.22.1
oauthlib==3.1.0
objdetecteval @ git+https://github.com/alexhock/object-detection-metrics@4ba0cfa7677f8f0b65776567b6ccb7b45ac3b1e0
omegaconf==2.1.1
opencv-contrib-python==4.5.2.52
opencv-python==4.5.2.52
opencv-python-headless==4.5.2.52
opt-einsum==3.3.0
packaging==21.3
pandas==1.3.5
pandocfilters==1.5.0
parso==0.7.0
pathspec==0.7.0
pathtools==0.1.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.2.0
pluggy==1.0.0
poyo==0.5.0
pretrainedmodels==0.7.4
prometheus-client==0.10.1
promise==2.3
prompt-toolkit==3.0.18
protobuf==3.17.0
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.4
pycodestyle==2.7.0
pycparser==2.21
pyDeprecate==0.3.0
pyflakes==2.3.1
Pygments==2.11.2
pyls-spyder==0.4.0
pyparsing==3.0.6
PyQt5==5.12.3
PyQt5-sip==12.9.0
PyQtWebEngine==5.12.1
pyrsistent==0.18.1
python-dateutil==2.8.2
python-lsp-black==1.0.0
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
python-slugify==5.0.2
pytorch-lightning==1.3.5
pytz==2021.3
PyWavelets==1.1.1
PyYAML==5.4.1
pyzmq==23.2.0
QDarkStyle==3.0.2
qstylizer==0.2.1
qtconsole==5.3.1
QtPy==2.1.0
qudida==0.0.4
regex==2022.1.18
requests==2.27.1
requests-oauthlib==1.3.0
rsa==4.7.2
scikit-image==0.18.3
scikit-learn==0.24.2
scipy==1.8.0
seaborn==0.11.1
segmentation-models-pytorch==0.2.1
Send2Trash==1.8.0
sentry-sdk==1.5.4
setproctitle==1.3.1
Shapely==1.7.1
shortuuid==1.0.8
SimpleITK==2.0.2
simplejson==3.17.6
six==1.16.0
smmap==5.0.0
sniffio==1.2.0
soupsieve==2.3.2.post1
stack-data==0.1.4
sublime-text==0.0.0
tb-nightly==2.6.0a20210615
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.8.0
tensorflow-io-gcs-filesystem==0.24.0
termcolor==1.1.0
terminado==0.9.5
testpath==0.5.0
text-unidecode==1.3
tf-estimator-nightly==2.8.0.dev2021122109
thop==0.0.31.post2005241907
threadpoolctl==2.1.0
tifffile==2021.11.2
timm==0.4.12
tinycss2==1.1.0
toml==0.10.2
torch==1.10.1
torch-summary==1.4.5
torchinfo==1.7.0
torchmetrics==0.7.1
torchsummary==1.5.1
torchvision==0.11.2
tornado==6.1
tqdm==4.60.0
traitlets==5.1.1
txt2tags==3.7
typed-ast==1.5.1
typing_extensions==4.0.1
ujson==5.1.0
urllib3==1.26.8
wandb==0.13.1
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.3.3
Werkzeug==2.0.0
widgetsnbextension==3.5.2
wrapt==1.13.3
xgboost==1.6.1
yarl==1.7.2
yaspin==2.1.0
zipp==3.7.0
